<p id="notice"><%= notice %></p>
<%= form_for @message, url: contact_path do |f| %>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
  <script>
    $('label').addClass('active')
  </script>

  <br>
  <h4>APPLICATION DETAILS</h4>
  <h5>Personal Information</h5>

  <div class="row">
    <div class="input-field col s1">
      <%= f.label :title, "Title", class: "active" %>
      <%= f.collection_select :title, @titles, :to_s, :to_s %>
    </div>
    <div class="input-field col s6">
      <%= f.label :name, class: "active" %>
      <%= f.text_field :name %>
    </div>
    <div class="input-field col s5">
      <%= f.label :email, class: "active" %>
      <%= f.email_field :email, class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :id, class: "validate"%>
      <%= f.label :id, "ID Number", class: "active" %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :phone %>
      <%= f.label :phone, "Phone", class: "active" %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :mobile %>
      <%= f.label :mobile, "Mobile", class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <%= f.collection_select :marital_status, @marital_statuses, :to_s, :to_s%>
      <%= f.label :marital_status, "Marital Status", class: "active" %>
    </div>
    <div class="input-field col s4">
      <%= f.collection_select :ethnic_group, @ethnic_groups, :to_s, :to_s%>
      <%= f.label :ethnic_group, "Ethnic Group", class: "active" %>
    </div>
    <div class="input-field col s4">
      <%= f.collection_select :graduate, @graduates, :to_s, :to_s%>
      <%= f.label :graduate, "Graduate", class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s8">
      <%= f.text_field :address1 %>
      <%= f.label :address1, "Address", class: "active" %>
    </div>
    <div class="input-field col s3">
      <%= f.text_field :suburb %>
      <%= f.label :suburb, "Suburb", class: "active" %>
    </div>
    <div class="input-field col s1">
      <%= f.text_field :postal_code %>
      <%= f.label :postal_code, "Postal Code", class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <%= f.text_field :period_at_address %>
      <%= f.label :period_at_address, "Period at Address (Years)", class: "active" %>
    </div>
    <div class="input-field col s4">
      <%= f.label :residential_status, "Residential Status", class: "active" %>
      <%= f.collection_select :residential_status, @residential_statuses, :to_s, :to_s %>
    </div>
  </div>

  <button class="waves-effect waves-light btn-large">
    <%= f.submit "Send" %><i class="material-icons right">send</i>
  </button>

<% end %>