<div class="container" >
<%= form_for [:admin,@model] do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
  <script>
    $('label').addClass('active')
  </script>

  <h5>MANAGE MODEL</h5>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :make_id, class: "active" %>
      <%= f.collection_select :make_id, @makes, :id, :name %>
    </div>

    <div class="input-field col s12">
      <%= f.label :name, class: "active" %>
      <%= f.text_field :name %>
    </div>
  </div>
  <button class="waves-effect waves-light btn">
    <%= f.submit "Save" %>
  </button>
<% end %>
</div>