<%= link_to 'New Model', new_admin_model_path, class: "waves-effect indigo darken-2 btn" %>
<h1 class="centralise">MODELS</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.make.name %></td>
        <td><%= model.name %></td>
        <td><%= link_to 'Edit',  edit_admin_model_path(model), class: "waves-effect indigo darken-2 btn" %></td>
        <td><%= link_to 'Delete', admin_model_path(model), class: "waves-effect indigo darken-2 btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
