<div class="container">
<h5>MODELS
<%= link_to new_admin_model_path do %>
  <i class="material-icons">add</i>
<% end %>
</h5>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Make</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.make.name %></td>
        <td><%= model.name %></td>
        <td><%= link_to edit_admin_model_path(model) do %><i class="material-icons">edit</i><% end %></td>
        <td><%= link_to admin_model_path(model), method: :delete, data: { confirm: 'Are you sure?' }  do%><i class="material-icons">delete</i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
