<%= form_for [:admin, @vehicle], html: { multipart: true } do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
  <script>
    $('label').addClass('active')
  </script>
  <script>
    $(function() {
    Materialize.updateTextFields();
    });
  </script>

  <h4>MANAGE VEHICLE</h4>

    <form class="col s16">
      <h5><strong>Details</strong></h5>
      <div class="row">
        <div class="input-field col m3 s6 browser-default">
          <%= f.collection_select :make_id, @makes, :id, :name %>
          <%= f.label :make_id %>
        </div>
        <div class="input-field col m3 s6 browser-default">
          <%= f.collection_select :model_id, @models, :id, :name %>
          <%= f.label :model_id %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.text_field :derivative %>
          <%= f.label :derivative, class: "active" %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :year, class: "active" %>
          <%= f.text_field :year %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m3 s6">
          <%= f.label :stock_number, class: "active" %>
          <%= f.text_field :stock_number %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :mileage, class: "active" %>
          <%= f.text_field :mileage %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :price, class: "active" %>
          <%= f.number_field :price %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :displacement, class: "active" %>
          <%= f.text_field :displacement, class: "col_8 last" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12 s12">
          <%= f.label :description, class: "active" %>
          <%= f.text_area :description %>
        </div>
      </div>
      <h5><strong>Specifications</strong></h5>
      <div class="row">
        <div class="input-field col m3 s6">
          <%= f.label :vehicle_type, class: "active" %>
          <%= f.collection_select :vehicle_type, @vehicle_types, :to_s, :to_s %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :plan_id, class: "active" %>
          <%= f.collection_select :plan_id, @plans, :id, :name %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :paint_colour_id, class: "active" %>
          <%= f.collection_select :paint_colour_id, @paint_colours, :id, :name %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :interior_colour_id, class: "active" %>
          <%= f.collection_select :interior_colour_id, @interior_colours, :id, :name %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m3 s6">
          <%= f.label :fuel, class: "active" %>
          <%= f.collection_select :fuel, @fuels, :to_s, :to_s %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :prior_use, "Uses", class: "active" %>
          <%= f.collection_select :prior_use, @uses, :to_s, :to_s %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :drive, class: "active" %>
          <%= f.collection_select :drive, @drives, :to_s, :to_s %>
        </div>
        <div class="input-field col m3 s6">
          <%= f.label :transmission, class: "active" %>
          <%= f.collection_select :transmission, @transmissions, :to_s, :to_s %>
        </div>
      </div>
      <div class="row">

      </div>

  <div class="col_9 fright last">

    <h3 class="centralise"><strong>Features</strong></h3>

    <fieldset class="push_both_sm">
      <%= f.label :full_service_history, class: "col_5 first " %>
      <%= f.check_box :full_service_history %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :one_owner, class: "col_5 first " %>
      <%= f.check_box :one_owner %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :low_kilometers, class: "col_5 first " %>
      <%= f.check_box :low_kilometers %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :abs_brakes, "ABS Brakes", class: "col_5 first " %>
      <%= f.check_box :abs_brakes %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :air_conditioning, class: "col_5 first " %>
      <%= f.check_box :air_conditioning %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :alarm, class: "col_5 first " %>
      <%= f.check_box :alarm %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :alloy_wheels, class: "col_5 first " %>
      <%= f.check_box :alloy_wheels %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :central_locking, class: "col_5 first " %>
      <%= f.check_box :central_locking %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :electric_windows, class: "col_5 first " %>
      <%= f.check_box :electric_windows %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :immobilizer, class: "col_5 first " %>
      <%= f.check_box :immobilizer %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :power_steering, class: "col_5 first " %>
      <%= f.check_box :power_steering %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :airbags, class: "col_5 first " %>
      <%= f.check_box :airbags %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :radio, class: "col_5 first " %>
      <%= f.check_box :radio %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :cd, "CD", class: "col_5 first " %>
      <%= f.check_box :cd %>
    </fieldset>
    <fieldset class="push_both_sm">
      <%= f.label :mp3, class: "col_5 first " %>
      <%= f.check_box :mp3 %>
    </fieldset>

    <hr class="push_both" />
	  <fieldset class="large col_5 fright">
	    <div class="actions nofloat margin_auto block bluebutton">   <%= f.submit "Save" %>  </div>
	  </fieldset>
	  <div class="clear" style="clear:both;height:0px;">&nbsp;</div>
	  <hr class="push_both" />

    <div class="clear" style="clear:both;height:0px;">&nbsp;</div>

  </div>
   </form>
</div>
  <div>
    <h3 class="centralise"><strong>Image</strong></h3>
    <%= f.attachment_field :image %>
    <%= image_tag attachment_url(@vehicle, :image, :fill, 459, 343, format: "jpg") %>
    <hr />
  </div>

<% end %>
