<%= link_to 'New Vehicle', new_admin_vehicle_path, class: "waves-effect indigo darken-2 btn" %>
<h4 class="centralise">VEHICLES</h4>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Price</th>
      <th>Stock number</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.make.name %></td>
        <td><%= vehicle.model.name %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.price %></td>
        <td><%= vehicle.stock_number %></td>
        <td><%= link_to 'Edit', edit_admin_vehicle_path(vehicle), class: "waves-effect indigo darken-2 btn" %></td>
        <td><%= link_to 'Delete', admin_vehicle_path(vehicle), class: "waves-effect indigo darken-2 btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
