<h5>VEHICLES
<%= link_to new_admin_vehicle_path  do %>
  <i class="material-icons">add</i>
<% end %>
</h5>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Derivative</th>
      <th>Year</th>
      <th>Price</th>
      <th>Stock number</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <% if vehicle.photo1.present? %>
        <td><%= cl_image_tag(vehicle.photo1.path, width: 50) %></td>
        <% end %>
        <td><%= vehicle.make.name %></td>
        <td><%= vehicle.model.name %></td>
        <td><%= vehicle.derivative %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.price %></td>
        <td><%= vehicle.stock_number %></td>
        <td><%= link_to edit_admin_vehicle_path(vehicle) do %>
              <i class="material-icons">edit</i>
            <% end %>
        </td>
        <td><%= link_to admin_vehicle_path(vehicle), method: :delete, data: { confirm: 'Are you sure?' }  do%>
              <i class="material-icons">delete</i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
