<h3>SERVICES</h3>

<div class="row">

  <div class="col s12 m6">
    <div class="card grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">VEHICLE SALES</span>
        <ul class="collection">
        <li class="collection-item grey-text">We offer an extensive range of mostly one year old vehicles.    </li>
        <li class="collection-item grey-text">The majority of these cars are one owner, ex-fleet vehicles, still under manufacturer's warranty.</li>
        <li class="collection-item grey-text">In addition we stock a limited number of high quality older model cars.</li>
        </ul>
      </div>
      <div class="card-action grey darken-3">
        <%= link_to "Vehicles for Sale", vehicles_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>

    <div class="col s12 m6">
    <div class="card grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">PRIVATE VEHICLE FINANCE</span>
        <ul class="collection">
        <li class="collection-item grey-text">If you are buying a vehicle privately we can assist with a wide range of financial solutions.</li>
        <li class="collection-item grey-text">As a local business we can help you immediately and make sure you buy or sell your car quickly, with zero hassles.</li>
        <li class="collection-item grey-text">We take care of the finance, insurance, roadworthy, licencing and registrations.</li>
        </ul>
      </div>
      <div class="card-action grey darken-3">
        <%= link_to "Contact Us", contact_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">RE-FINANCE AND RESIDUAL FINANCE</span>
        <ul class="collection">
        <li class="collection-item grey-text">Can't afford your current monthly instalments?</li>
        <li class="collection-item grey-text">Need to finance a residual or balloon payment?</li>
        <li class="collection-item grey-text">Want to release cash from your car?</li>
        <li class="collection-item grey-text">Our service is tailor-made for you.  One application and a simple inspection is all it takes.</li>
        </ul>
      </div>
      <div class="card-action grey darken-3">
        <%= link_to "Contact Us", contact_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">INSURANCE</span>
        <ul class="collection">
        <li class="collection-item grey-text">As a regulated financial services provider we have agencies and underwriting agreements with a number of insurance companies.</li>
        <li class="collection-item grey-text">We handle both new business and claims.</li>
        <li class="collection-item grey-text">As car finance specialists, we know cars and what insurance is appropriate for each vehicle.</li>
        </ul>
      </div>
      <div class="card-action grey darken-3">
        <%= link_to "Contact Us", contact_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">WARRANTIES AND SERVICE PLANS</span>
        <ul class="collection">
        <li class="collection-item grey-text">We offer pre-owned warranties, extended warranties and service plans on all second-hand cars.</li>
        <li class="collection-item grey-text">Give us a call or enquire online for a quote and expert advice on the most suitable plan.</li>
        </ul>
      </div>
      <div class="card-action grey darken-3">
        <%= link_to "Contact Us", contact_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>



</div>