<%= form_for [:admin,@plan] do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>
      <ul><% @plan.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
    </div>
  <% end %>

  <h4 class="centralise">MANAGE PLAN</h4>

  <div class="row">
    <div class="input-field col m6 s12">
      <%= f.label :name, class: "active" %>
      <%= f.text_field :name %>
    </div>
  </div>

  <br>
  <button class="waves-effect waves-light btn-large">
    <%= f.submit "Save" %>
  </button>
<% end %>
