<h1 class="centralise">VEHICLES</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Price</th>
      <th>Stock number</th>
      <th class="centralise" width="140">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.make.name %></td>
        <td><%= vehicle.model.name %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.price %></td>
        <td><%= vehicle.stock_number %></td>
        <td class="action_button"><%= link_to 'Show', vehicle_path(vehicle) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
