<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>
<script>
  $('label').addClass('active')
</script>

<div class="row" id="search-box">
<div class="col s12 blue-grey lighten-5">
<%= search_form_for @q do |f| %>

          <div class="input-field col s6 m3">
            <%= f.search_field :price_lteq, placeholder: "Price (less than)", class: "active input_field" %>
            <%#= f.label :price_lteq, "Price (less than)", class: "active red-text text-darken-1" %>
          </div>
          <div class="input-field col s6 m3">
            <%= f.search_field :mileage_lteq, placeholder: "Mileage (less than)", class: "active input_field" %>
            <%#= f.label :mileage_lteq, "Mileage (less than)",  class: "active red-text text-darken-1" %>
          </div>
          <div class="input-field col s6 m3">
            <%= f.search_field :year_gteq, placeholder: "Year (from)", class: "active input_field" %>
            <%#= f.label :year_gteq, "Year (from)" , class: "active red-text text-darken-1" %>
          </div>
          <div class="col s6 m3 center valign" id="search-button">
          <div class="waves-effect waves-light btn center">
            <%= f.submit "SEARCH" %>
          </div>
          </div>
<% end %>
</div>
</div>

<div class="row">
<% @vehicles.each do |vehicle| %>

  <div class="col l4 m6 s12">
    <div class="card z-depth-4">
      <div class="card-image">
        <!--%= attachment_image_tag(vehicle, :image, format: "jpg", fallback: "defaultimage.jpg") %-->
        <% if vehicle.photo1.present? %>
          <%= cl_image_tag(vehicle.photo1.path, { size: '250x250', crop: :fit , fallback: "defaultimage.jpg"}) %>
        <% else %>
          <%= image_tag("defaultimage.jpg") %>
        <% end %>
      </div>
      <div class="card-content">
        <h6><%= vehicle.make.name + " " + vehicle.model.name +  " " + vehicle.displacement  + " " + vehicle.derivative + " " + vehicle.year  %></h6>
        <h5 class="red-text text-darken-4">R <%= vehicle.price %><h5>
        <h6><%= vehicle.mileage %> km</h6>
      </div>
      <div class="card-action">
        <%= link_to 'Show', vehicle_path(vehicle), class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>

<% end %>
</div>