
<% @vehicles.each do |vehicle| %>
<div class="row">
  <div class="col s6 m4">
    <div class="card">
      <div class="card-image">
        <%= image_tag attachment_url(vehicle, :image, format: "jpg") %>
        <span class="card-title"><%= vehicle.make.name + " " + vehicle.model.name + " " + vehicle.year %></span>
      </div>
      <div class="card-content">
        <p><b><%= vehicle.description %> </b></p>
        <h6>R<%= vehicle.price %></h6>
      </div>
      <div class="card-action">
        <%= link_to 'Show', vehicle_path(vehicle), class: "waves-effect waves-light btn-large" %>
      </div>
    </div>
  </div>
</div>
<% end %>