<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <%= image_tag attachment_url(@vehicle, :image, :fill,459, 343, format: "jpg") %>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card">
      <div class="card-content">
        <h3><%= @vehicle.make.name + " " + @vehicle.model.name %></h3>
        <h3><%= @vehicle.year %></h3>
        <p><b><%= @vehicle.description %> </b></p>
        <h4>R<%= @vehicle.price %></h4>
        <%= link_to 'Apply', new_message_path(@vehicle), class: "waves-effect waves-light btn-large" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card grey darken-3">
      <div class="card-content white-text">
        <span class="card-title">Specifications</span>
        <ul class="collection">
          <li class="collection-item grey-text">Mileage: <%= @vehicle.mileage %> km </li>
          <li class="collection-item grey-text">Type: <%= @vehicle.vehicle_type %></li>
          <li class="collection-item grey-text">Drive: <%= @vehicle.drive %></li>
          <li class="collection-item grey-text">Displacement: <%= @vehicle.displacement %></li>
          <li class="collection-item grey-text">Transmission: <%= @vehicle.transmission %></li>
          <li class="collection-item grey-text">Exterior: <%= @vehicle.paint_colour.name %></li>
          <li class="collection-item grey-text">Interior: <%= @vehicle.interior_colour.name %></li>
          <li class="collection-item grey-text">Stock: <%= @vehicle.stock_number %></li>
          <% if @vehicle.full_service_history? %> <li class="collection-item grey-text">Full Service History</li><% end %>
          <% if @vehicle.low_kilometers? %> <li class="collection-item grey-text">Low Kilometres</li><% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card grey darken-3">
      <div class="card-content white-text">
        <span class="card-title">Full Features</span>
        <ul class="collection">
          <% if @vehicle.abs_brakes? %> <li class="collection-item grey-text">ABS Brakes</li> <% end %>
          <% if @vehicle.air_conditioning? %> <li class="collection-item grey-text">Air Conditioning</li> <% end %>
          <% if @vehicle.alarm? %> <li class="collection-item grey-text">Alarm</li> <% end %>
          <% if @vehicle.central_locking? %> <li class="collection-item grey-text">Central Locking</li> <% end %>
          <% if @vehicle.electric_windows? %> <li class="collection-item grey-text">Electric Windows</li> <% end %>
          <% if @vehicle.immobilizer? %> <li class="collection-item grey-text">Immobiliser</li> <% end %>
          <% if @vehicle.power_steering? %> <li class="collection-item grey-text">Power Steering</li> <% end %>
        </ul>
      </div>
    </div>
</div>