<div class="container" >
<%= form_for [:admin,@paint_colour] do |f| %>
  <% if @paint_colour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paint_colour.errors.count, "error") %> prohibited this paint_colour from being saved:</h2>
      <ul><% @paint_colour.errors.full_messages.each do |message| %><li><%= message %></li><% end %> </ul>
    </div>
  <% end %>

  <h5>MANAGE PAINT COLOUR</h5>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :name, class: "active" %>
      <%= f.text_field :name %>
    </div>
  </div>

  <button class="waves-effect waves-light btn">
    <%= f.submit "Save" %>
  </button>
<% end %>
</div>