<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <header>
      <nav>
        <div class="nav-wrapper">
          <%= link_to "CAROUSEL ADMIN", admin_vehicles_path, class: "brand-logo" %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><%= link_to "Vehicles", admin_vehicles_path %></li>
						<li><%= link_to "Makes", admin_makes_path %></li>
						<li><%= link_to "Models", admin_models_path %></li>
						<li><%= link_to "Plans", admin_plans_path %></li>
						<li><%= link_to "Paint Colours", admin_paint_colours_path %></li>
						<li><%= link_to "Interior Colours", admin_interior_colours_path %></li>
						<% if user_signed_in? %>
              <!--li><!--%= link_to('Edit User', edit_user_registration_path) %></li-->
              <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
              <!--li><!--%= link_to "Sign Up", new_user_registration_path %></li-->
              <li><%= link_to('Log In', new_user_session_path)  %></li>
            <% end %>
           </ul>
        </div>
      </nav>
    </header>
    <% if notice %><p class="green-text text-darken-2"><%= notice %></p><% end %>
    <% if alert %><p class="red-text text-darken-2"><%= alert %></p><% end %>
    <main>
      <%= yield %>
    </main>

	</div>

</body>
</html>