<!DOCTYPE html>
<html>

<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">

    <header>
      <nav>
        <div class="nav-wrapper grey lighten-3">
          <%= link_to image_tag("logo.jpg"), vehicles_path, class: "brand-logo" %>
          <ul id="nav-mobile" class="right hide-on-med-and-down grey darken-1">
            <li><%= link_to "How It Works", howitworks_path %></li>
            <li><%= link_to "Services", services_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="row">
        <div class="col m12 s12">
          <p class="col m10 s12 grey-text text-lighten-4">247 Main Road, Diep River, Cape Town, 7945</p>
          <p class="col m2 s12 grey-text text-lighten-4"><i class="small material-icons">call</i> 999 999 999</p>
        </div>
      </div>
    </footer>

  </div>
</body>
</html>
