<!DOCTYPE html>
<html>

<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body>
  <script>
    $( document ).ready(function) block
      $(".dropdown-button").dropdown();
  </script>
  <div class="container">
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "How It Works", howitworks_path, class: "grey-text text-darken-4" %></li>
        <li><%= link_to "Services", services_path, class: "grey-text text-darken-4" %></li>
        <li><%= link_to "Contact", contact_path, class: "grey-text text-darken-4" %></li>
        <li><%= link_to "Vehicles", vehicles_path, class: "grey-text text-darken-4" %></li>
      </ul>
      <nav>
        <div class="nav-wrapper grey lighten-3 z-depth-4">
          <%= link_to "CAROUSEL", vehicles_path, class: "brand-logo red-text text-darken-4 text-extra-large text-bold" %>
          <ul class="right">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button red-text text-darken-4" href="#!" data-activates="dropdown1">MENU<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="row">
        <div class="col m12 s12">
          <p class="col m10 s12 grey-text text-lighten-4">247 Main Road, Diep River, Cape Town, 7945</p>
          <p class="col m2 s12 grey-text text-lighten-4"><i class="small material-icons">call</i> 999 999 999</p>
        </div>
      </div>
    </footer>

  </div>
</body>
</html>
